[pytest]
log_cli = true
log_level = WARNING
log_format = %(asctime)s (%(filename)-16s:%(lineno)-3s) %(levelname)-8s %(message)s
log_date_format = %Y-%M-%D %H:%M:%S

required_plugins = pytest-html pytest-xdist

addopts = --html=report/report.html --self-contained-html --capture=tee-sys -W ignore::DeprecationWarning

markers =
    sio: marks SIO S3's tests (deselect with '-m "not sio"')
    sio_smoke: marks SIO S3's smoke tests (deselect with '-m "not sio_smoke"')
    sio_maybe: maybe suitable.

    need_speedup: lifecycle or transition ops need speedup(e.g.: 10s as one day.)

    pass_on_sio: pass_on_sio
    fails_on_sio: fails_on_sio

    pass_on_ceph: pass_on_ceph(version is nautilus)
    fails_on_ceph: fails_on_ceph(version is nautilus)

    gdas: marks GDAS S3's tests (deselect with '-m "not gdas"')


rp_uuid = xxxx
rp_endpoint = http://your-reportportal-url
rp_project = your-rp-project
rp_launch = s3api-testing
rp_launch_description = S3 Api Automation Test
rp_launch_attributes = 's3api' 'stage:testing' 'version:2.4.0.4'
rp_issue_system_url = http://your-issue-system-url?m=bug&f=view&bugID={issue_id}
rp_issue_id_marks = True
